@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --hue:197;
    --icon-size: 1rem;
    --trans-short: 300ms ease;
    --trans-long: 500ms ease;

    /*dark color theme*/
    --bg--dark:var(--hue) 0% 15%;
    --bg2--dark: var(--hue) 0% 3%;
    --txt-high--dark: var(--hue) 0% 100%;
    --txt-low--dark: var(--bg--dark);
    --blank--dark: var(--hue) 0% 25%;
    --midtone--dark: var(--hue) 0% 67%;
    --accent--dark: var(--hue) 100% 47%;

    
    
    /*default theme*/
    --bg: var(--bg--dark);
    --bg2: var(--bg2--dark);
    --txt-high: var(--txt-high--dark);
    --txt-low: var(--txt-low--dark);
    --blank: var(--blank--dark) ;
    --midtone: var(--midtone--dark);
    --accent: var(--accent--dark);
}
*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all var(--trans-short);
}
body{
    height: 100dvh;
    font-family: "Roboto", sans-serif;
}
.pageContainer{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-135deg, hsl(var(--bg2)), hsl(var(--bg)));
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
    margin-top: 1rem;
}
h5{
    font-size: 0.75rem;
    margin-right: 0.5rem;
}
video{
    background-color: hsl(var(--blank));
}
iframe{
    border: none;
    background-color: hsl(var(--blank)/0.7);
}
footer{
    display: none;
}
button{
    display: grid;
    place-items: center;
    height: var(--icon-size);
    margin: 0.1rem;
    background-color: #333;
    border: none;
    border-radius: 0.25rem;
}
button.active{
    background-color: #00aaee;
}
hr{
    border: 1px solid #333;
    margin: 0.3rem  0 0.5rem 0; 
}
.icon{
    border-radius: calc(var(--icon-size) / 10);
}
.square{
    aspect-ratio: 1/1;
}
.circle{
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rectangle{
    aspect-ratio: 4/3;
}
.toggle{
    height: auto;
    width: 100%;
    padding: 0.25rem 0.4rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: hsl(var(--txt-low));
    border: 2px solid hsl(var(--txt-low));
    background-color: sl(var(--midtone));
}
.toggle.active{
    background-color: hsl(var(--accent));
}
.open{
    height: auto;
    width: 100%;
    padding: 0.25rem 0.4rem;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 0.25rem;
    color: hsl(var(--midtone));
}
.open:hover{
    background-color: hsl(var(--accent));
    color: hsl(var(--bg));
}
.widescreen{
    aspect-ratio: 16/9;
}
.small{
    height: calc(var(--icon-size)*0.6);
}
.medium{
    height: calc(var(--icon-size)*0.8);
}
.settingsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    z-index: 100;
    max-width: 30vw;
    gap: 1vw;

}
.settingsOptions{
    position: relative;
    height: 100%;
    min-width: 20vw;
    background-color: hsl(var(--midtone));
}
.settingsGridContainer{
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr 1fr;
    margin: 0.75rem;
}
.settingsGridContainer *{
    grid-column: span 2;
}
.settingsToggle{
    color:hsl(var(--midtone));
    width: 2.5rem; 
}
.buttonContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.1rem;
    margin: 0.25rem;
    padding: 0.15rem;
}
.mirror, .hide{
    grid-column: span 1;
}
.instructionToggle{
    position: absolute;
    bottom: 1rem;
}